/* Write your CSS here */
.link {
  text-decoration: none;
}
.each-team-container {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 20px;
  width: 400px;
  height: 200px;
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.each-team-logo {
  width: 100px;
  margin-right: 20px;
}
